
body{
    background-color:chocolate;
}

.app{
    background-color: green ;
    min-height:500px;
    width: 400px;
    margin: 40px auto;
}

#to-do-list input{
    background-color:cyan;
    border:0;
    height:50px;
    width:200px;
    padding: 0 20px;
    margin:20px;
    color: white;
    font-size: 18px;
    border-radius: 10px;
}

#to-do-list input::placeholder{
    font-weight: bold;
}

#to-do-list input:focus,#to-do-list button:focus{
    outline:none;
}

#to-do-list button{
    height: 50px;
    width: 80px;
    border-radius: 5px;
    border: 0;
    cursor:pointer;
    font-weight: bolder;
}